<div class="container">
    <main class="main-content">

        <div class="meio">
            <span>Início > Laboratório de Germinares</span>
        </div>

        <div class="content">
            <h1>Gerenciamento de notas</h1>
            <form class="nome-buscar">
                <div class="search-container">
                    <span><img matPrefix src="icons/search.png" alt="search"></span>
                    <input matInput placeholder="Buscar por nome">
                </div>
                  
                <div class="buttons">
                    <button type="button" class="btn-pesquisa">
                        Pesquisar
                    </button>
                    <button type="button" class="btn-register" (click)="redirecionarCadastroAluno()"><img src="icons/cadastro.png" alt="cadastro">
                        Cadastrar aluno
                    </button>
                </div>
            </form>
            <table id="tabela">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Ano</th>
                        <th>Série</th>
                        <th>Exatas</th>
                        <th>Linguagens</th>
                        <th>Ciências</th>
                        <th>Média</th>
                        <th>Situação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let aluno of paginatedData">
                        <td>{{ aluno.nome }}</td>
                        <td>{{ aluno.email }}</td>
                        <td>{{ aluno.ano }}</td>
                        <td>{{ aluno.serie }}</td>
                        <td>{{ aluno.exatas }}</td>
                        <td>{{ aluno.linguagens }}</td>
                        <td>{{ aluno.ciencias }}</td>
                        <td>{{ aluno.media }}</td>
                        <td>
                            <div class="status"><img src="icons/certo.png" alt="certo">{{ aluno.situacao }}</div>
                        </td>
                        <td (click)="editarRemover()"><img [src]="aluno.acao" alt="menu"></td>
                    </tr>
                </tbody>
            </table>
            <div class="paginacao">
                <label for="itemsPerPage">Itens por página:</label>
                <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="updatePagination()">
                    <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
                </select>

                <div class="paginas" style="margin-top: 1em;">
                    <button (click)="prevPage()" [disabled]="currentPage === 1"><img src="icons/esquerda.png"
                            alt="esquerda">
                    </button>
                    <span>{{ currentPage }}</span>
                    <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= data.length"><img
                            src="icons/direita.png" alt="direita">
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>