* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main-content";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
}

.main-content {
    grid-area: main-content;
    padding: 20px;
}

.meio {
    margin-bottom: 20px;
    color: #888;
}

.content h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.content p {
    margin: 0 0 20px 0;
}

.nome-buscar {
    max-width: 400px;
    display: flex;
    flex-direction: row;
}

.nome-buscar input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F5F5F5;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    right: 20px;

}

.btn-register {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #136C4C;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-pesquisa {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #136C4C;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bolder;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 70px;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.status {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #e0f2f1;
    border-radius: 8px;
    border: 1px solid #b2dfdb;
    color: black;
}

.status img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}