<div class="container">
    <h1>Cadastro</h1>
    <p>Preencha os campos a seguir</p>
    
    <form>
        <input type="email" placeholder="E-mail" required>
        <input type="password" placeholder="Senha" required>
        <input type="text" placeholder="Nome completo" required>
        <input type="text" placeholder="Gênero" required>
        <input type="text" placeholder="Data de nascimento" 
        onfocus="(this.type='date')" 
        onblur="(this.type=this.value ? 'date' : 'text')">
         <input type="text" placeholder="Tipo de alimentação" required>
    </form>

    <div class="button-container">
        <button type="submit">
            <img src="icons/cadastro.png" alt="cadastro"> Cadastrar
        </button>
    </div>
</div>