<div class="container">
    <main class="main-content">

        <h1>Cadastro</h1>
        <p>Preencha os campos a seguir</p>
        
        <form #formRef="ngForm">
            <input type="email" name="email" placeholder="E-mail" [(ngModel)]="email" required>
            <input type="password" name="senha" placeholder="Senha" [(ngModel)]="senha" required>
            <input type="text" name="nome" placeholder="Nome completo" [(ngModel)]="nome" required>
            <input type="text" name="genero" placeholder="Gênero" [(ngModel)]="genero" required>
            <input type="text" name="nascimento" placeholder="Data de nascimento" 
            onfocus="(this.type='date')" 
            onblur="(this.type=this.value ? 'date' : 'text')" [(ngModel)]="nascimento">
            <input type="text" name="alimentacao" placeholder="Tipo de alimentação" [(ngModel)]="alimentacao" required>

            <div class="button-container">
                <button type="submit" (click)="cadastrar(formRef)">
                    <img src="icons/cadastro.png" alt="cadastro"> Cadastrar
                </button>
            </div>
        </form>
    
    </main>
</div>