<div class="container">
    <h1>Cadastrar Aluno</h1>

    <div class="banner">
        <img src="icons/info-nota-pt2.png" alt="banner">
    </div>
    
    <form>
        <input type="number" placeholder="Linguagens" required>
        <input type="number" placeholder="Exatas" required>
        <input type="number" placeholder="Ciências" required>
    </form>

    <div class="buttons">
        <button type="button" class="btn-descartar">
            Descartar
        </button>
        <button type="button" class="btn-cadastrar"> <img src="icons/cadastro.png" alt="cadastro">
            Cadastrar Aluno
        </button>
    </div>
</div>