<div class="container">
    <main class="main-content">
        <div class="meio">
            <span>Início > Laboratório de Germinares</span>
        </div>

        <div class="content">
            <h1>Laboratório de Germinares</h1>
            <div class="buttons">
                <button type="button" class="btn-gerenciamento-notas" (click)="redirecionarLogin()"><img src="icons/Baby.png" alt="gerenciamento">
                    Gerenciamento de Notas
                </button>
                <button type="button" class="btn-grafico" (click)="redirecionarGraficos()"><img src="icons/ChartLine.png" alt="grafico">
                    Gráficos
                </button>
            </div>
        </div>
    </main>
</div>