* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main-content";
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto 1fr;
}

.main-content {
    margin-top: 70px;
    grid-area: main-content;
    padding: 20px;
    width: 1200px;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 400px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    margin-right: 50px;
    width: 100%;
}

.btn-descartar {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #136C4C;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bolder;
}

.btn-proximo {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #136C4C;
    display: flex;
    align-items: center;
    gap: 10px;
}