<div class="container">
    <main class="main-content">
        <h1>Cadastrar Aluno</h1>
        <div class="banner">
            <img src="icons/info-nota-pt1.png" alt="banner">
        </div>
        
        <form #formRef="ngForm">
            <input type="email" name="email" [(ngModel)]="email" placeholder="E-mail" required>
            <input type="text" name="nome" [(ngModel)]="nome" placeholder="Nome completo" required>
            <input type="text" name="genero" [(ngModel)]="genero" placeholder="Gênero" required>
            <input type="text" name="nascimento" [(ngModel)]="nascimento"
                placeholder="Data de nascimento"
                onfocus="(this.type='date')"
                onblur="(this.type=this.value ? 'date' : 'text')" required>
            <input type="text" name="alimentacao" [(ngModel)]="alimentacao" placeholder="Tipo de alimentação" required>
            <input type="text" name="escolaridade" [(ngModel)]="escolaridade" placeholder="Escolaridade País" required>
            
            <div class="buttons">
                <button type="button" class="btn-descartar" (click)="descartar(formRef)">
                    Descartar
                </button>
                <button type="button" class="btn-proximo" (click)="navegarCadastroNotas(formRef)">
                    Próximo
                </button>
            </div>
        </form>
    </main>
</div>